.content {
	margin: 1em auto;
	width: 50%;
	font-family: Verdana;
}

.header {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	margin-bottom: 0.8em;
}


label {
	min-width: 5em;
	display: inline-block;
}
input { min-width: 70%; }
button {
	width: 10em;
	height: 2em;
	margin: 1.3em auto;
	display: block;
}


table { 
	margin-top: 2em;
	width: 100%;
	text-align: left;
}
th,thead,tr,td { 
	padding: 0;
	margin: 0;
}
th { width: 50%; }
td { font-size: 0.8em; }
tr:hover { background-color: #f5f5f5; }